#
# SELinux policy module for OpenStack Swift running rsync
# Copyright 2013 Red Hat, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation version 2.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#

#
# Allow rsync operating under swift to deal with rsync lock files
# Author: Dan Walsh <dwalsh@redhat.com>
#
policy_module(openstack-rsync, 0.4)

require {
	type rsync_t;
}
 

files_manage_generic_locks(rsync_t)

# Compile with:
#  make -f /usr/share/selinux/devel/Makefile 
# Install:
#  semodule -i openstack-selinux-nova.pp
# Remove:
#  semodule -r openstack-selinux-nova
