policy_module(os-ceilometer, 1.0.0)

gen_require(`
  attribute container_net_domain;
  type ceilometer_polling_t;
  type container_file_t;
  type proc_t;
  type virt_var_run_t;
  type virtd_t;
')

# Get ceilometer_polling_t to work as a container
container_domain_template(ceilometer_polling, container)
container_runtime_domtrans(ceilometer_polling_t)
typeattribute ceilometer_polling_t container_net_domain;

logging_send_audit_msgs(ceilometer_polling_t)
logging_send_syslog_msg(ceilometer_polling_t)

# OSPRH-3373
allow ceilometer_polling_t proc_t:filesystem associate;
allow ceilometer_polling_t virt_var_run_t:sock_file write;
allow ceilometer_polling_t virtd_t:unix_stream_socket connectto;
