policy_module(os-glance,0.1)

gen_require(`
	type glance_api_t;
')

# Bugzilla 1119151
corenet_tcp_connect_all_ports(glance_api_t)

# Bugzilla 1135510
#allow glance_api_t unreserved_port_t:tcp_socket name_connect;

# Bugzilla 1130212 1119400
# Allow glance execmem/execstack until we get the boolean
# in a later release of selinux-policy
allow glance_api_t self:process { execstack execmem };


optional_policy(`
	gen_require(`
		type elasticsearch_port_t;
	')
	# bugzilla 1192644
	allow glance_api_t elasticsearch_port_t:tcp_socket name_bind;
')
