policy_module(os-haproxy,0.1)

gen_require(`
	type haproxy_t;
	type sysfs_t;
	class filesystem getattr;
')

# Bugzilla 1195215
allow haproxy_t sysfs_t:filesystem getattr;
