policy_module(os-mysql,0.1)

require {
	type tram_port_t;
	type rsync_exec_t;
	type mysqld_t;
	class tcp_socket name_connect;
	class file { read getattr open execute execute_no_trans };
}

# Bugzilla 1081544
allow mysqld_t rsync_exec_t:file { read getattr open execute execute_no_trans };
allow mysqld_t tram_port_t:tcp_socket name_connect;
