policy_module(os-neutron, 0.1)

gen_require(`
	type neutron_t;
	type haproxy_exec_t;
	type haproxy_t;
	type ipsec_mgmt_exec_t;
	type http_port_t;
	type dnsmasq_t;
	type proc_t;
	class file read;
	class tcp_socket name_bind;
	class unix_stream_socket connectto;
')

# Bugzilla 1153656
allow neutron_t dnsmasq_t:process sigkill;
allow haproxy_t proc_t:file read;

# Bugzilla 1110263 & 1111990
allow neutron_t self:unix_stream_socket { accept listen connectto };
corenet_tcp_connect_all_ports(neutron_t)

# Bugzilla 1116755
allow neutron_t haproxy_t:unix_stream_socket { accept listen connectto };

# Bugzilla 1114254
allow neutron_t haproxy_exec_t:file execute_no_trans;

# Bugzilla 1135510
allow neutron_t ipsec_mgmt_exec_t:file exec_file_perms;

# Bugzilla 1144199
allow neutron_t http_port_t:tcp_socket name_bind;

optional_policy(`
	require {
		type neutron_t;
		type haproxy_t;
		type haproxy_exec_t;
		type proc_t;
		type neutron_var_lib_t;
	}

	domtrans_pattern(neutron_t, haproxy_exec_t, haproxy_t)

	# Bugzilla 1114254
	manage_files_pattern(haproxy_t, neutron_var_lib_t, neutron_var_lib_t)
	manage_sock_files_pattern(haproxy_t, neutron_var_lib_t, neutron_var_lib_t)
	# Bugzilla 1115724
	allow neutron_t haproxy_t:process sigkill;
	allow neutron_t proc_t:filesystem unmount;
')

