policy_module(os-nova,0.1)

require {
        type nova_network_t;
        attribute nova_domain;
        class capability { net_raw sys_ptrace kill };
}

# from upstream - Bugzilla 1107861
auth_read_passwd(nova_domain)
init_read_utmp(nova_domain)

# Bugzilla 1095869
# Allow create/modify/delete virtual networks
allow nova_network_t self:capability { net_raw sys_ptrace kill };

kernel_rw_net_sysctls(nova_network_t)
dev_rw_vhost(nova_network_t)
