#
# This comes from pbis-open's pbis.if
# https://github.com/BeyondTrust/pbis-open/blob/master/config/linux/redhat/rhel/7.0/pbis.if (GPL v2)
#
########################################
## <summary>
##      Connect to pbis services.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#

interface(`os_pbis_client',`
        gen_require(`
                class unix_stream_socket connectto;
                class sock_file { write create unlink getattr };
                type var_lib_t, unconfined_t;
        ')

        allow $1 unconfined_t:unix_stream_socket connectto;
        allow $1 var_lib_t:sock_file write;
')
