policy_module(os-pbis,0.1)

gen_require(`
    type neutron_t;
    type nova_t;
')

# Bug 1658815 - Temporary workaround until PBIS is updated
gen_tunable(openstack_pbis_support, false)
tunable_policy(`openstack_pbis_support',`
    os_pbis_client(neutron_t)
    os_pbis_client(nova_t)
')
