policy_module(os-podman, 1.0)
gen_require(`
        type container_t;
        type container_file_t;
        type openvswitch_t;
        type puppet_etc_t;
        type cluster_var_log_t;
        type init_t;
')
#============= container_t ==============
miscfiles_read_generic_certs(container_t)
openvswitch_stream_connect(container_t)
# for posterity: read_files_pattern includes dir accesses
read_files_pattern(container_t, puppet_etc_t, puppet_etc_t)
read_lnk_files_pattern(container_t, puppet_etc_t, puppet_etc_t)

# bugzilla #1772025
allow openvswitch_t container_file_t:dir create;

manage_files_pattern(openvswitch_t, container_file_t, container_file_t)
manage_sock_files_pattern(openvswitch_t, container_file_t, container_file_t)
allow openvswitch_t self:capability net_broadcast;

# needed for HA containers
manage_files_pattern(container_t, cluster_var_log_t, cluster_var_log_t);
manage_dirs_pattern(container_t, cluster_var_log_t, cluster_var_log_t);

# Needed for LP#1853652
allow init_t container_file_t:file { execute execute_no_trans };
