policy_module(os-rabbitmq,0.1)

gen_require(`
	type init_tmp_t;
	type rabbitmq_epmd_t;
	class file write;
')

# Bugzilla 1135637
allow rabbitmq_epmd_t init_tmp_t:file write;
