policy_module(os-rsyslog,0.1)

gen_require(`
        type container_file_t;
        type syslogd_t;
')

# LP #1810422
manage_files_pattern(syslogd_t, container_file_t, container_file_t)
manage_dirs_pattern(syslogd_t, container_file_t, container_file_t)
manage_lnk_files_pattern(syslogd_t, container_file_t, container_file_t)
