policy_module(os-rsync,0.1)

gen_require(`
	type load_policy_t;
	type init_t;
	type cert_t;
	type etc_t;
	type etc_runtime_t;
	type rsync_t;
	class fifo_file write;
	class file { relabelfrom write relabelto };
	class dir { relabelfrom relabelto };
')

# Bugzilla 1135637
allow rsync_t etc_runtime_t:file relabelto;
allow rsync_t etc_t:file relabelfrom;
allow rsync_t cert_t:file { relabelfrom relabelto };
allow rsync_t cert_t:dir { relabelfrom relabelto };
allow load_policy_t init_t:fifo_file write;
