policy_module(os-sensu,0.1)

gen_require(`
  type container_t;
  type init_t;
  type system_dbusd_t;
')

# Bugzilla 1738134
allow container_t init_t:unix_stream_socket connectto;
allow container_t system_dbusd_t:unix_stream_socket connectto;
