policy_module(os-swift,0.1)

gen_require(`
	type swift_t;
	type swift_data_t;
	type swift_var_cache_t;
	type amqp_port_t;
	type var_log_t;
	class tcp_socket name_connect;
	class file { open };
')

# Emergency tripleo fix
allow swift_t var_log_t:file open;
allow swift_t amqp_port_t:tcp_socket name_connect;

# Bugzilla 1302312
rsync_exec(swift_t)

# Bugzilla 1249685 (execmem)
gen_tunable(os_swift_use_execmem, false)
tunable_policy(`os_swift_use_execmem',`
	allow swift_t self:process execmem;
')

# Bugzilla 1652297
allow swift_t swift_data_t:lnk_file { create read };

# Bugzilla 2050636
allow swift_t swift_var_cache_t:file { create read };
