#
# SELinux policy module for OpenStack Swift
# Copyright 2013 Red Hat, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation version 2.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#

#
# Author: Miroslav Grepl 
#
# After building, you must run the following:
#   restorecon -Rv /usr/bin/swift* /var/run/swift
#

policy_module(swift, 1.0.0)

########################################
#
# Declarations
#

type swift_t;
type swift_exec_t;
init_daemon_domain(swift_t, swift_exec_t)

type swift_var_run_t;
files_pid_file(swift_var_run_t)

########################################
#
# swift local policy
#

allow swift_t self:fifo_file rw_fifo_file_perms;
allow swift_t self:unix_stream_socket create_stream_socket_perms;
allow swift_t self:unix_dgram_socket create_socket_perms;

manage_dirs_pattern(swift_t, swift_var_run_t, swift_var_run_t)
manage_files_pattern(swift_t, swift_var_run_t, swift_var_run_t)
manage_lnk_files_pattern(swift_t, swift_var_run_t, swift_var_run_t)
files_pid_filetrans(swift_t, swift_var_run_t, { dir })

kernel_dgram_send(swift_t)
kernel_read_system_state(swift_t)

corecmd_exec_shell(swift_t)

dev_read_urand(swift_t)

domain_use_interactive_fds(swift_t)

files_read_etc_files(swift_t)

auth_use_nsswitch(swift_t)

libs_exec_ldconfig(swift_t)

logging_send_syslog_msg(swift_t)

miscfiles_read_localization(swift_t)

# Allow swift to run unconfined
optional_policy(`
	unconfined_domain(swift_t)
')
